<div class="account-list">
  <button (click)="openAddAccount()">Add Account</button>
  <ng-container *ngIf="isOpenAddAccount">
    <div class="add-account">
      <button (click)="saveNew()">Save</button>
    </div>
  </ng-container>
  <div class="search">
    <input type="text" [(ngModel)]="searchStr" (ngModelChange)="search()">
  </div>
  <app-data-common-table
    [dataSource]="accountsData"
    [tableConfiguration]="tableConfig"
    [pagingConfig]="currentPaging"
    (isLoaded)="checkIsLoaded($event)"
    [isLoading]="isLoading"
    (edit)="openEdit($event)"
    (delete)="deleteAccount($event)"
  ></app-data-common-table>

</div>
